extends layout

block content
  h1= title
  p 
    form(action='/books' method='get')
      label(for='search') Search For Books:
      input(name='search' type='text' id='search')
      button Search
    br
    a(class="button" href="/books/new") Create New Book 
    br
    br
  if books.length > 0  
    table   
      thead   
        tr 
          th Title  
          th Author 
          th Genre 
          th Year 
      tbody 
        each book in books  
          tr  
            td  
              a(href=`/books/${book.id}`) #{book.title}
            td= book.author 
            td= book.genre 
            td= book.year
    include paginate 
  else  
    p  The Search Returned No Results
